* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
  color: white;

}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

#profile p{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
